<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加地址</title>
</head>
<body>
        <form action="/address/add" method="POST" enctype="multipart/form-data">
            <input type="text" name="addr" placeholder="地址">  
            <input type="hidden" name="uid" value="{{.uid}}">
            <button>提交</button>
        </form>
</body>
</html>